@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");

:root {
  --shadow-color: 252deg 7% 66%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.21),
    0.4px 0.8px 1.1px -0.9px hsl(var(--shadow-color) / 0.25),
    0.9px 1.8px 2.4px -1.9px hsl(var(--shadow-color) / 0.3);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.22),
    0.9px 1.7px 2.3px -0.6px hsl(var(--shadow-color) / 0.26),
    2px 3.9px 5.3px -1.3px hsl(var(--shadow-color) / 0.29),
    4.5px 9.1px 12.3px -1.9px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
    1.4px 2.9px 3.9px -0.3px hsl(var(--shadow-color) / 0.22),
    2.6px 5.2px 7.1px -0.5px hsl(var(--shadow-color) / 0.24),
    4.1px 8.2px 11.1px -0.8px hsl(var(--shadow-color) / 0.25),
    6.3px 12.5px 17px -1.1px hsl(var(--shadow-color) / 0.27),
    9.4px 18.9px 25.6px -1.4px hsl(var(--shadow-color) / 0.29),
    14px 28px 38px -1.6px hsl(var(--shadow-color) / 0.3),
    20.3px 40.5px 55px -1.9px hsl(var(--shadow-color) / 0.32);
}

html,
body {
  font-family: "Work Sans", sans-serif;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  background-color: #f2f1f6;
}

.fork {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}

header {
  text-align: center;
  margin-top: 30px;
}

h1 {
  color: #824bdd;
  font-size: 56px;
  margin: 0;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name img {
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
  margin-right: 20px;
}

h2 {
  font-weight: 400;
}

.images {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.images img {
  margin: 20px;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
}

.store {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.store > a > img {
  margin: 10px;
}

.descs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  font-size: 1.5em;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  background-color: #ffffff;
  color: #2a1055;
  max-width: 700px;
  margin: 20px auto;
  padding: 30px;
}

a:link {
  color: #824bdd;
}
.githubs span {
  float: right;
  padding-right: 10px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 40px;
}
